/*
HTML 4.01 Strict
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "//www.w3.org/TR/html4/strict.dtd">
HTML 4.01 Transitional
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "//www.w3.org/TR/html4/loose.dtd">
HTML 4.01 Frameset
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "//www.w3.org/TR/html4/frameset.dtd">

XHTML 1.0 Strict
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
XHTML 1.0 Transitional
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
XHTML 1.0 Frameset
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
XHTML 1.1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "//www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: Cambria;
	/*white-space: nowrap; Prevent text wrapping*/
	column-count: 3;
	column-width: auto;
	column-gap: 8px;
	column-rule: 2px dotted rgb(79, 185, 227);
}

.rounded-image {
	/*display: block;
	margin-left: auto;
	margin-right: auto;*/
	flex-direction: column;
	margin: 8px;
	border-radius: 2px;
}

#twinkle {
	color: white;
	background-image: url("./bliss.jpg");
	opacity: 0.5;
	height: 10rem;
	text-align: center;
	text-baseline: middle;
	font-family: "Palatino Linotype";
	font-size: 1.25rem;
}

.display {
	width: fit-content;
	height: auto;
	<!---text-align: center;--->
	display: inline-block;
	flex-flow: row nowrap;
	justify-content: space-between;
	color: white;
	background-color: dimgray;
	border: 1px dashed red;
	border-radius: 4px;
	padding: 4px;
}

a:hover {
	color: hsl(0, 100%, 40%);
	background-color: hsl(187, 52%, 80%);  // powerblue
	opacity: 0.95;
}

#myWords {
	padding: 4px;
	margin: 8px;
	color: white;
	background-color: dimgray;
	font-family: Cosolas;
	font-size: 12px;
	border-radius: 2px;
}

#myRef {
	font-family: "Century Gothic";
	font-size: 1em;
	text-align: left;
}

.wrap-flex {
	margin: 8px;
	display: flex;
	align-items: stretch;
}

.wrap-flex > * {
	width: auto;
	padding: 6px;
	margin: 2px;
	border: 1px solid hsl(60, 20%, 80%);
	border-radius: 2px;
}
